Package: me.devbug.smoothcoverflow
Name: SmoothCoverFlow
Depends: mobilesubstrate, firmware (>= 5.0), firmware (<< 5.1)
Version: 0.0.3
Architecture: iphoneos-arm
Description: Get smooth performance of displaying album arts and Coverflow
Maintainer: deVbug <devbug@devbug.me>
Author: deVbug <devbug@devbug.me>
Section: Tweaks
